<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="detail">
<div class="container product-detail-container" layout:fragment="content">
<form th:action="@{/customer/cart/add/{productId}(productId=${product.productId})}" method="post">
      <div class="row">
        <div class="col-md-6 product-image">
            <img th:src="@{${product.image}}" alt="Product Image" class="img-thumbnail" />
            <div class="input-group mt-3">
        <input type="number" name="quantity" class="form-control" min="1" value="1" required>
        <div class="input-group-append">
            <span class="input-group-text">Number of orders</span>
        </div>
    </div>
        </div>
        
        <div class="col-md-6 product-info">
            <h2 th:text="${product.name}">Product Name</h2>
            
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <p id="quantity" class="form-control-static" th:text="${product.quantity}">0</p>
            </div>
            <div class="form-group">
                <label for="unitPrice">Unit Price</label>
                <p id="unitPrice" class="form-control-static">
                    <span th:text="'₫ ' + ${product.unitPrice}"></span>
                </p>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <p id="description" class="form-control-static" th:text="${product.description}">Description</p>
            </div>
            <div class="form-group">
                <label for="discount">Discount</label>
                <p id="discount" class="form-control-static">
                    <span th:text="${product.discount} + '%'"></span>
                </p>
            </div>
            <div class="form-group">
                <label for="entereDate">Enter Date</label>
                <p id="entereDate" class="form-control-static" th:text="${#dates.format(product.entereDate, 'yyyy-MM-dd')}">YYYY-MM-DD</p>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <p id="status" class="form-control-static" th:text="${product.status == 1 ? 'Có sẵn' : 'Không có sẵn'}">Status</p>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <p id="category" class="form-control-static" th:text="${product.category.name}">Category Name</p>
            </div>
            <div class="form-group d-flex justify-content-between align-items-center">
                                <input type="hidden" th:value="${product.productId}" name="productId"/>
                                <button type="submit" class="btn btn-primary">Add to Cart</button>
                          
                <a th:href="@{/customer/products}" class="btn btn-secondary">Back to Product</a>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>
        </div>
    </div>
     </form> 
</div>
</body>
</html>