<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">
<head>
<meta charset="UTF-8">
<title>List of products</title>
</head>

<body>
	<div class="container" layout:fragment="content">
		<h1 class="my-4">List of Products</h1>
		<div th:if="${message != null}" class="alert alert-info" role="alert">
			<i>[[${message}]]</i>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Product ID</th>
					<th>Name</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Image</th>
					<th>Discount</th>
					<th>Date</th>
					<th>Category Name</th>
					<th></th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${products}">
					<td scope="row">[[${product.productId}]]</td>
					<td th:text="${product.name}"></td>
					<td th:text="${product.quantity}"></td>
					<td th:text="${product.unitPrice}"></td>
					<td><img th:src="${product.image}" alt="Product Image"
						style="max-width: 100px; max-height: 100px;"></td>
					<td th:text="${product.discount}"></td>
					<td th:text="${product.entereDate}"></td>
					 <td th:text="${product.category.name}"></td>
					<td><a
						th:href="@{'/admin/products/detail/' +${product.productId}}"
						class="btn btn-sm btn-info">View</a> <a
						th:href="@{'/admin/products/edit/' +${product.productId}}"
						class="btn btn-sm btn-success">Edit</a> <a
						th:href="@{'/admin/products/delete/' + ${product.productId}}"
						class="btn btn-sm btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
				</a></li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#"
					aria-label="Next"> <span aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</nav>
		
		<!-- <nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item" th:classappend="${productPage.hasPrevious()} ? '' : 'disabled'">
					<a class="page-link" th:href="@{'?page=' + ${productPage.number - 1} + '&size=' + ${productPage.size}}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li class="page-item" th:each="pageNum : ${#numbers.sequence(0, productPage.totalPages - 1)}"
					th:classappend="${pageNum == productPage.number} ? 'active'">
					<a class="page-link" th:href="@{'?page=' + ${pageNum} + '&size=' + ${productPage.size}}"
						th:text="${pageNum + 1}">1</a>
				</li>
				<li class="page-item" th:classappend="${productPage.hasNext()} ? '' : 'disabled'">
					<a class="page-link" th:href="@{'?page=' + ${productPage.number + 1} + '&size=' + ${productPage.size}}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav> -->
	</div>

</body>

</html>