<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>List of products</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="my-4">List of Products</h1>
        <div class="row mt-2 mb-2">
            <div class="col">
                <form th:action="@{/admin/products/search}">
                    <div class="form-inline float-left">
                        <label for="name" class="mr-sm-2">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId"
                            placeholder="Name">
                            <label for="price" class="mr-sm-2">Price:</label>
        <input type="text" class="form-control mr-sm-2" name="price" id="price" placeholder="Price">
        <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" name="min" th:value="${param.min}" placeholder="Min Price">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="max" th:value="${param.max}" placeholder="Max Price">
                </div>
               
            </div>
                        <button class="btn btn-outline-primary ml-sm-2">Search</button>
                    </div>

                    <div class="float-right">
                        <a class="btn btn-outline-primary" th:href="@{/admin/products/add}"> Add New Product</a>
                    </div>
                </form>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Name</th>
                     <th>Price</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td scope="row">[[${product.productId}]]</td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.unitPrice}"></td>
                   <td th:text="${product.entereDate}"></td>
                    <td>
                        <a th:href="@{'/admin/products/view' +${product.productId}}"
                            class="btn btn-sm btn-info">View</a>
                        <a th:href="@{'/admin/products/edit/' +${product.productId}}"
                            class="btn btn-sm btn-success">Edit</a>
                        <a th:href="@{'/admin/products/delete/' + ${product.productId}}"
                            class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" th:each="pageNum : ${pageNumbers}"
                    th:class="${pageNum == currentPage ? 'page-item active' : 'page-item'}">
                    <a class="page-link"
                        th:href="@{'/admin/products/search/paginated?name=' + ${searchName} + '&page=' + ${pageNum} + '&size=' + ${totalPages}}"
                        th:text="${pageNum}"></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>


    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>