@charset "utf-8";
  .navbar {
            background-color: #000;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .navbar-brand img {
            height: 60px;
            margin-left: 20px;
        }

        .navbar-nav .nav-item {
            margin-left: 20px;
        }

        .navbar-nav .nav-item a {
            color: #fff;
            font-weight: bold;
        }

        .navbar-nav .nav-item a:hover {
            color: #ccc;
            text-decoration: none;
        }