@charset "utf-8";
 body footer {
            background-color: #000;
            color: #fff;
            font-family: Arial, sans-serif;
        }

        .footer {
            background-color: #000;
            color: #fff;
            padding: 30px 0;
        }

        .footer h5 {
            color: #fff;
        }

        .footer p,
        .footer ul {
            color: #fff;
        }

        .footer a {
            color: #fff;
            text-decoration: none;
            transition: color 0.3s ease;
            font-weight: 300;
        }

        .footer a:hover {
            color: #ccc;
            text-decoration: none;
        }

        .footer ul li {
            list-style: none;
            margin-bottom: 10px;
        }

        .footer ul li i {
            margin-right: 10px;
        }
        
         .product-image {
      width: 300px;
      height: 450px;
      object-fit: cover;
      }