<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:fragment="footer">
        <hr>
        <footer class="bg-white py-2 mt-1">
            <div class="container">
                <div class="text-center">
                    <div class="row">
                        <div class="col">
                            <h2 class="mb-4">Thuong's Boutique.</h2>
                            <p class="fs-5 fw-bold">Vẻ đẹp thanh lịch, phong cách tinh tế.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3>Giới thiệu về chúng tôi</h3>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none">Thông tin công ty</a></li>
                            <li><a href="#" class="text-decoration-none">Giới thiệu dịch vụ sản phẩm</a></li>
                            <li><a href="#" class="text-decoration-none">Cách xem</a></li>
                            <li><a href="#" class="text-decoration-none">Quan hệ nhà đầu tư</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Hỗ trợ và giúp đỡ</h3>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none">Phản ánh ý kiến</a></li>
                            <li><a href="#" class="text-decoration-none">Trung tâm phản hồi bảo mật</a></li>
                            <li><a href="#" class="text-decoration-none">Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Điều khoản dịch vụ</h3>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-decoration-none">Điều khoản quyền riêng tư</a></li>
                            <li><a href="#" class="text-decoration-none">Điều khoản sử dụng</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3>Đăng ký nhận tin</h3>
                        <p>Nhận thông tin về các sản phẩm và ưu đãi mới nhất của chúng tôi.</p>
                        <form class="newsletter">
                            <input type="email" placeholder="Nhập email của bạn">
                            <button type="submit">Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
    
            <div class="container text-center">
                <p class="mb-0">Copyright &copy; 2024 bản quyền thuộc về thuonghnh</p>
                <p class="mb-0">Chúng tôi sử dụng Cookies để cải thiện trải nghiệm sử dụng của bạn. Nếu bạn
                    tiếp tục sử dụng trang web của chúng tôi, có nghĩa là bạn đồng ý chúng tôi sử dụng Cookies.</p>
            </div>
        </footer>
    </div>
</body>

</html>