<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Add Or Edit</title>
</head>

<body>
    <form th:action="@{/admin/categories/saveOrUpdate}" th:object="${category}" class="container" method="post">
        <div>
            <h1>Add New Category</h1>
        </div>
        <div class="mb-3">
            <label for="categoryId" class="form-label">Category ID:</label>
            <input type="hidden" th:field="*{isEdit}">
            <input type="text" class="form-control" id="categoryId" aria-describedby="categoryHelp"
                placeholder="Category ID" th:field="*{categoryId}" th:value="*{categoryId}" readonly="readonly">
            <small th:if="${#fields.hasErrors('categoryId')}" id="categoryId" class="form-text text-muted">Category id
                is required</small>
        </div>
        <div class="mb-3">
            <label for="categoryName" class="form-label">Name</label>
            <input type="text" class="form-control" id="categoryName" placeholder="Category Name" th:field="*{name}">
            <small th:if="${#fields.hasErrors('name')}" id="name" class="form-text text-muted">Name is required or
                invalid</small>
        </div>
        <hr>
        <button type="reset" class="btn btn-secondary">Reset</button>
        <a th:href="@{/admin/categories}" class="btn btn-success">List Categories</a>
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-floppy2"></i>
            <span th:if="${category.isEdit}">Update</span>
            <span th:unless="${category.isEdit}">Save</span>
        </button>
    </form>
</body>

</html>