<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/dashboardLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>List of Categories</title>
</head>

<body>
    <div class="container" layout:fragment="content">
        <div class="row mt-2 mb-2">
            <div class="col">
                <form th:action="@{/admin/categories/searchpaginated}" class="d-flex justify-content-between">
                     <div class="d-flex align-items-center">
                        <label for="name" class="mr-sm-2">Name:</label>
                        <input type="text" class="form-control mx-2" name="name" id="name" aria-describedby="helpId"
                            placeholder="Name">
                        <button class="btn btn-outline-primary ml-sm-2">Search</button>
                    </div>

                    <div>
                        <a class="btn btn-outline-primary" th:href="@{/admin/categories/add}"> Add New Category</a>
                    </div>
                </form>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Category ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" category, iStat : ${categoryPage.content}">
                    <td scope="row">[[${category.categoryId}]]</td>
                    <td th:text="${category.name}"></td>
                    <td>
                        <a th:href="@{'/admin/categories/edit/' +${category.categoryId}}"
                            class="btn btn-sm btn-success">Edit</a>
                        <a th:href="@{'/admin/categories/delete/' + ${category.categoryId}}"
                            class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="card-footer text-muted">
            <form action="" class="d-flex align-items-center">
                <label for="size" class="form-label me-2">Page Size:</label>
                <select name="size" id="size" class="form-select w-auto me-2" onchange="this.form.submit()">
                    <option th:selected="${categoryPage.size == 5}" value="5">5</option>
                    <option th:selected="${categoryPage.size == 10}" value="10">10</option>
                    <option th:selected="${categoryPage.size == 15}" value="15">15</option>
                    <option th:selected="${categoryPage.size == 20}" value="20">20</option>
                    <option th:selected="${categoryPage.size == 30}" value="30">30</option>
                    <option th:selected="${categoryPage.size == 50}" value="50">50</option>
                </select>
            </form>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center mt-3">
                    <!-- First Page -->
                    <li th:class="1 == ${categoryPage.number + 1} ? 'page-item disabled' : 'page-item'">
                        <a th:href="@{/admin/categories/searchpaginated(name=${name}, size=${categoryPage.size}, page=1)}"
                            class="page-link">First</a>
                    </li>

                    <!-- Previous Page -->
                    <li th:class="${categoryPage.number == 0} ? 'page-item disabled' : 'page-item'">
                        <a th:href="@{/admin/categories/searchpaginated(name=${name}, size=${categoryPage.size}, page=${categoryPage.number})}"
                            class="page-link">Previous</a>
                    </li>

                    <!-- Page Numbers -->
                    <li th:each="pageNumber : ${#numbers.sequence(1, categoryPage.totalPages)}"
                        th:class="${pageNumber == categoryPage.number + 1} ? 'page-item active' : 'page-item'">
                        <a th:href="@{/admin/categories/searchpaginated(name=${name}, size=${categoryPage.size}, page=${pageNumber})}"
                            class="page-link" th:text="${pageNumber}"></a>
                    </li>

                    <!-- Next Page -->
                    <li
                        th:class="${categoryPage.number + 1 == categoryPage.totalPages} ? 'page-item disabled' : 'page-item'">
                        <a th:href="@{/admin/categories/searchpaginated(name=${name}, size=${categoryPage.size}, page=${categoryPage.number + 2})}"
                            class="page-link">Next</a>
                    </li>

                    <!-- Last Page -->
                    <li
                        th:class="${categoryPage.number + 1 == categoryPage.totalPages} ? 'page-item disabled' : 'page-item'">
                        <a th:href="@{/admin/categories/searchpaginated(name=${name}, size=${categoryPage.size}, page=${categoryPage.totalPages})}"
                            class="page-link">Last</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</body>

</html>